.reactBlue {
    color: #61dafb;
}

.tsBlue {
    color: #007acc;
}

.jsYellow {
    color: #f7df1e;
}

.nodeGreen {
    color: #43853d;
}

.gitRed {
    color: #f64d27;
}

.mongoGreen {
    color: #0faa50;
}

.wpBlue {
    color: #21759b;
}

.gqlPurple {
    color: #e10098;
}

.psBlue {
    color: #0098d7;
}

.javaOrange {
    color: #f29111;
}

.htmlOrange {
    color: #e44d26;
}

.cssBlue {
    color: #1a73ba;
}