.reactBlue {
    color: #61dafb;
}

.nodeGreen {
    color: #43853d;
}

.gitRed {
    color: #f64d27;
}

.mongoGreen {
    color: #0faa50;
}

.wordpressBlue {
    color: #21759b;
}

.javaYellow {
    color: #f29111;
}

.htmlOrange {
    color: #e44d26;
}

.cssBlue {
    color: #264de4;
}