.project_container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
}
/* .project_container:after {
    content: '';
    display: block;
    margin-top: 100%;
} */
.project_filter {
    max-width: 100%;
    max-height: 100%;
}
.project_element {
    color: black;
    margin: .25em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    padding-top: 4em;
}

/* animations */

/* .project_container:hover {
    cursor: pointer;
    background-size: 120%;
    transition: .2s;
}

.project_container {
    background-size: 100%;
    transition: .2s;
} */

.project_container:hover .project_filter {
    filter: blur(.1em);
    transition: .2s;
    transform: scale(1.1);
}

.project_filter {
    filter: blur(.2em);
    transition: .2s;
}


.project_element {
    opacity: 0;
}

.project_animation {
    animation-name: project_animate;
    animation-duration: .3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes project_animate {
    from {
        opacity: 0;
        transform: scale(.5);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}